POSTGRES_HOST=
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
JWT_SIGNING_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ACCESS_TOKEN_MINUTES=
SEED_ADMIN_EMAIL=
JWT_REFRESH_TOKEN_DAYS=
MFA_ISSUER=
MFA_REQUIRED=
APP_URL=
API_URL=
RESEND_API_KEY=
RESEND_FROM=